.text {
    padding: 10px;
}

.captchaImg{
    border: 1px solid #ddd;
}

.errors {
    padding: 10px;
    font-size: smaller;
    color: brown;
}

.rememberMe{
    padding: 10px;
    font-size: smaller;
}

.formInline {
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

/* Add some margins for each label */
.formInline label {
    margin: 5px 10px 5px 0;
    font-size: small;
    font-weight: bold;
}

/* Style the input fields */
.formInline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

/* Style the submit button */
.formInline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
}

.formInline button:hover {
    background-color: royalblue;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
    .formInline input {
        margin: 10px 0;
    }

    .formInline {
        flex-direction: column;
        align-items: stretch;
    }
}

