.header {

}

.header img {
    width: 90px;
}

.login {
    float: right;
    padding: 5px 15px 0 0;
    font-weight: bold;
}

.logout {
    font-size: smaller;
    text-decoration: underline;
    font-weight: normal;
    cursor: pointer;
}

.login a {
    color: #000;
}
